$colors: (
  wordpress: #00769c,
  heart: #f55567,
  coffee: #000,
  base: #2c3e50,
  selection: #2c3e50,
  headings: #2c3e50,
  dividers: #2c3e50,
  theads: #269aa3,
  rows: #f4f4f4,
  borders: #e1e1e1,
  links: #acfcff,
  linksHover: #00769c
);
