// Font sizes
$font-xxxs:   13px;
$font-xxs:    14px;
$font-xs:     16px;
$font-s:      18px;
$font-m:      20px;
$font-l:      24px;
$font-xl:     34px;
$font-xxl:    44px;
$font-xxxl:   55px;

// Font fallbacks
$font-primary-fallbacks: cursive, helvetica, sans-serif;
$font-secondary-fallbacks: arial, helvetica, sans-serif;

// Fonts
$font-primary: 'Lato', $font-primary-fallbacks;
$font-secondary: 'Merriweather', $font-secondary-fallbacks;

// Font sizes
$base:        19px;

$heading1:    48px;
$heading2:    32px;
$heading3:    24px;

$quotes:    22px;

$author-footer-bio: 16px;
$author-footer-name: 22px;

$article-info: 15px;
$article-more: 20px;

$post-divider: 16px;

$bio: 15px;