@font-face {
  font-family: 'iosevka';
  src: url('../fonts/iosevka-heavy-webfont.woff2') format('woff2'),
       url('../fonts/iosevka-heavy-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'iosevka';
  src: url('../fonts/iosevka-bold-webfont.woff2') format('woff2'),
       url('../fonts/iosevka-bold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'iosevka';
  src: url('../fonts/iosevka-regular-webfont.woff2') format('woff2'),
       url('../fonts/iosevka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// Font sizes
$font-xxxs:   13px;
$font-xxs:    14px;
$font-xs:     16px;
$font-s:      18px;
$font-m:      20px;
$font-l:      24px;
$font-xl:     34px;
$font-xxl:    44px;
$font-xxxl:   55px;

// Font fallbacks
$font-primary-fallbacks: cursive, helvetica, sans-serif;
$font-secondary-fallbacks: arial, helvetica, sans-serif;

// Fonts
$font-primary: 'iosevka', $font-primary-fallbacks;
$font-secondary: 'Source Sans Pro', $font-secondary-fallbacks;
// $font-secondary: 'Open Sans', $font-secondary-fallbacks;

// Font sizes
$base:        20px;

$heading1:    48px;
$heading2:    34px;
$heading3:    26px;

$quotes:    24px;

$author-footer-bio: 16px;
$author-footer-name: 26px;

$article-info: 15px;
$article-more: 20px;

$post-divider: 16px;
$bio: 16px;
