$space-xxs:       10px;
$space-xs:        20px;
$space-s:         25px;
$space-m:         30px;
$space-l:         35px;
$space-xl:        40px;
$space-xxl:       45px;

$space-gutter-s:  15px;
$space-gutter-m:  35px;
$space-gutter-l:  45px;