.author-footer {
  padding: rem($space-l) 0 rem($space-m);
  margin: rem($space-l*2) 0 rem($space-l*2);
  border-top: 1px solid color(borders);
  border-bottom: 1px solid color(borders);
  width: 100%;

  @include respond-to(900) {
    flex-direction: column;
  }
}

.author-footer-avatar {
  margin-right: rem($space-s);

  @include respond-to(900) {
    margin-right: 0;
    margin-bottom: rem($space-s);
    align-self: center;
    width: 100%;
  }
}

.author-contact {
  top: 5px;
  position: relative;

  @include respond-to(900) {
    justify-content: center;
    width: 100%;
    display: flex;
    margin: rem($space-s) 0;
  }

  @include respond-to(400) {
    flex-direction: column;
    margin-top: 0;
  }
}

.author-footer-bio {
  font-size: rem($font-xs);
  margin: 0 0 0 rem($space-m);
  font-family: $font-secondary;

  a {
    box-shadow: inset 0 -4px 0 color(links);
    border-bottom: 0px solid color(links);
  }

  @include respond-to(900) {
    text-align: center;
    margin-left: 0;
  }

  p:last-child {
    margin-top: 0;
    max-width: 100%;

    @include respond-to(900) {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    @include respond-to(400) {
      width: 100%;
    }

  }
}

.author-footer-name {
  margin: 0 rem($space-l / 2) 10px 0;
  font-size: rem($heading3);

  @include respond-to(900) {
    margin: 0;
    display: flex;
    width: 100%;
    font-size: rem(24px);
    justify-content: center;
  }

}

.author-footer-social {
  margin: rem(2px) rem(18px) rem(5px) rem(10px);

  @include respond-to(400) {
    margin-top: rem($space-s);
  }
}

.author-footer-donations {
  margin: rem(5px) 0 0 rem(3px);

  @include respond-to(900) {
    margin-right: rem(84px);
    text-align: center;
  }

  @include respond-to(400) {
    margin-bottom: rem($space-s / 2);
    margin-top: rem($space-s);
  }

}

.author-footer-social,
.author-footer-donations {
  float: left;
}
