.post header {
  border-bottom: 1px solid color(borders);
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.single-post {
  .post {
    @include respond-to(1100) {
      margin-top: 0;
    }    
  }
}
