// General
.is-animated {
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

// Notices
.notice {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  padding: 1.2em;
  z-index: 999999;
  text-align: center;
  margin-top: 0;

  &.is-animated {
    animation-duration: 2s;
  }
}

.notice-success {
  background-color: color(lightgreen);
  color: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


// Disabled
.is-disabled {
  @include dim($opacity-light);

  &:hover {
    cursor: not-allowed !important;
  }
}

.is-hidden {
  display: none !important;
  opacity: 0;
  transition: background-color .2s ease;
}

.is-visible {
  display: block !important;
  // opacity: 1;
  // transition: background-color .2s ease;
}

.spinner {
  display: none;
  position: absolute;
  top: -9px;
  right: -4.45em;
  margin: $gutter-s 0;
  box-sizing: border-box;
  z-index: 9;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 4px solid color(dark-blue);
  border-top-color: color(green);
  animation: spin 0.6s infinite linear;
}

.is-circle {
  border-radius: 50%;
}






@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.is-blinking {
  animation: blink-animation 1s steps(5, start) infinite;
}
