//
// Grid, nice n simple
//
.l-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0;
  max-width: $max-width;
}

.l-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}

[class*="l-box"] {
  margin: 0;
  max-width: 100%;
  min-width: 0;
  min-height: 1px;
  padding: $gutter-s;
  flex: 1 1 0;
}

[class*="l-"] {
  margin-top: 0;
}

.l-contain {
  width: 80vw;
  max-width: 1600px;
  margin: 0 auto;

  @include device('max', 700) {
    width: 90vw;
  }

}

.l-contain-narrow {
  max-width: 50%;

  @include device('max', 1100) {
    max-width: 70%;
  }

  @include device('max', 600) {
    max-width: 90%;
  }
}


/*

Columns (as a proportion)
E.g., 2 === one half, 3 === one third, 4 === one fourth, etc

*/
.l-box-2 {
  @include row($cols-2);

  @include device('max', 600) {
    @include row($cols-1);
  }
}

.l-box-3 {
  @include row($cols-3);

  @include device('max', 900) {
    @include row($cols-2);
  }

  @include device('max', 600) {
    @include row($cols-1);
  }
}

.l-box-4 {
  @include row($cols-4);

  @include device('max', 800) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-5 {
  @include row($cols-5);

  @include device('max', 800) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-6 {
  @include row($cols-6);

  @include device('max', 1000) {
    @include row($cols-4);
  }

  @include device('max', 800) {
    @include row($cols-3);
  }

  @include device('max', 700) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-7 {
  @include row($cols-7);

  @include device('max', 1100) {
    @include row($cols-5);
  }

  @include device('max', 900) {
    @include row($cols-4);
  }

  @include device('max', 700) {
    @include row($cols-3);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-8 {
  @include row($cols-8);

  @include device('max', 1100) {
    @include row($cols-5);
  }

  @include device('max', 900) {
    @include row($cols-4);
  }

  @include device('max', 700) {
    @include row($cols-3);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-9 {
  @include row($cols-9);

  @include device('max', 1100) {
    @include row($cols-8);
  }

  @include device('max', 900) {
    @include row($cols-4);
  }

  @include device('max', 700) {
    @include row($cols-3);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-10 {
  @include row($cols-10);

  @include device('max', 1100) {
    @include row($cols-8);
  }

  @include device('max', 900) {
    @include row($cols-4);
  }

  @include device('max', 700) {
    @include row($cols-3);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-11 {
  @include row($cols-11);

  @include device('max', 1100) {
    @include row($cols-9);
  }

  @include device('max', 900) {
    @include row($cols-7);
  }

  @include device('max', 700) {
    @include row($cols-5);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}

.l-box-12 {
  @include row($cols-12);

  @include device('max', 1300) {
    @include row($cols-10);
  }

  @include device('max', 900) {
    @include row($cols-8);
  }

  @include device('max', 700) {
    @include row($cols-4);
  }

  @include device('max', 600) {
    @include row($cols-2);
  }

  @include device('max', 500) {
    @include row($cols-1);
  }
}


/*

Ordering

*/
.l-order-1 {
  order: 1;
}

.l-order-2 {
  order: 2;
}

.l-order-3 {
  order: 3;
}

.l-order-4 {
  order: 4;
}

.l-order-5 {
  order: 5;
}

.l-order-6 {
  order: 6;
}

.l-order-7 {
  order: 7;
}


/*

Row aignment

*/
.l-row-left {
  justify-content: flex-start;
}

.l-row-right {
  justify-content: flex-end;
}

.l-row-center {
  justify-content: center;
  margin: 0 auto;
}

.l-row-justify {
  justify-content: space-between;
}

.l-row-spaced {
  justify-content: space-around;
}

.l-row-reverse {
  flex-direction: row-reverse;
}


/*

Col aignment

*/
.l-col-reverse {
  flex-direction: column-reverse;
}

.l-col-center {
  align-items: center;
}

.l-col-left {
  align-self: flex-start;
}


/*

Spacing

*/
.l-fill {
  flex: 1;
  min-width: 0;
}

.l-contained {
  flex: none;
}
