.articles {
  list-style: none;
  margin: 0;
}

.article {
  font-weight: bold;
  font-size: rem($heading2);
  font-family: $font-primary;
  margin: 0 0 1em 0;
  letter-spacing: -0.05;

  @include respond-to(400) {
    font-size: rem(32px);
  }
}

.article-year {
  margin: 2.5em 0 .6em;
  font-size: rem(20px);
  margin-bottom: 0;
  padding-bottom: 5px;
  display: inline;
  line-height: 1;
  font-weight: normal;
  position: relative;
  left: -3em;
  top: 5px;
  font-family: $font-secondary;
  // font-style: italic;
}


.article-link {}
