.footer {
  text-align: center;
  margin-bottom: rem($space-l * 2);
  margin-top: rem($space-m * 3);
  padding-top: rem($space-l);

  @include respond-to(500) {
    margin-top: 1em;
  }

  p {
    font-size: $font-xs;
    margin: 0.5em 0;
  }

  a {
    border: none;
    box-shadow: none;
    background-position: 0 1.4em;
    
    @include dim();

  }

  i {
    font-size: $font-xl;
    margin: 0 5px;
  }

  .name {
    &:after {
      content: ' ';
      width: 1px;
      border-right: 1px solid color(base);
      height: 41px;
      margin: 0 1em;
      margin-right: 26px;
    }
  }

  .title {}

}

.footer-copy {
  margin-top: 0;
  font-size: rem(14px);
  font-family: Lato,cursive, helvetica, sans-serif;
}

.footer-logo {
  width: rem($space-l);
}

.social-link {
  @include noUnderline();
}
