.footer {
  text-align: center;
  margin-bottom: rem($space-l * 2);
  margin-top: rem($space-m * 4);
  opacity: 0.5;

  p {
    font-size: $font-xxs;
  }
}

.footer-copy {
  margin-top: 0;
  font-size: rem(14px);
  font-family: Lato,cursive, helvetica, sans-serif;
}

.footer-logo {
  width: rem($space-l);
}
