//
// Grid, nice n simple
//

.l-col,
.l-row,
.l-row-reverse,
.l-col-reverse {
  display: flex;
  max-width: 100%;
}

.l-row {
  flex-wrap: wrap;

  @include respond-to(500) {
    // flex-direction: column;
  }
}

.l-row-reverse {
  flex-direction: row-reverse;
}

.l-col {
  flex-direction: column;
  flex: 0 0 auto;
}

.l-col-reverse {
  flex-direction: column-reverse;
}

.l-fit {
  flex: 1;
  min-width: 0;
}

.l-wrap {
  flex-wrap: wrap;
}

.l-grid {
  margin: rem((-$space-l)) 0 rem($space-l) rem((-$space-l));
}

.l-grid-item {
  padding: rem($space-gutter-s);
  min-width: 0;

  @include respond-to(500) {
    padding: 0;
  }

}

.l-gutter-small {
  .l-grid-item {
    padding: rem($space-gutter-m / 2) rem($space-gutter-m);

    @include respond-to(500) {
      padding: 0;
    }
  }
}

.l-gutter-large {
  .l-grid-item {
    padding: rem($space-gutter-l / 2) rem($space-gutter-l);

    @include respond-to(500) {
      padding: 0;
    }
  }
}

.l-grid-1 {
  flex: 0 0 100%;

  @include respond-to(700) {
    flex-direction: column;
  }

}

.l-grid-2 {
  flex: 0 0 calc(100% / 2);

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-grid-3 {
  flex: 0 0 calc(100% / 3);

  @include respond-to(700) {
    flex: 0 0 calc(100% / 2);
  }

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-grid-4 {
  flex: 0 0 calc(100% / 4);

  @include respond-to(800) {
    flex: 0 0 calc(100% / 2);
  }

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-grid-5 {
  flex: 0 0 calc(100% / 5);

  @include respond-to(900) {
    flex: 0 0 calc(100% / 4);
  }

  @include respond-to(700) {
    flex: 0 0 calc(100% / 2);
  }

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-grid-6 {
  flex: 0 0 calc(100% / 6);

  @include respond-to(900) {
    flex: 0 0 calc(100% / 3);
  }

  @include respond-to(700) {
    flex: 0 0 calc(100% / 2);
  }

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-grid-7 {
  flex: 0 0 calc(100% / 7);

  @include respond-to(900) {
    flex: 0 0 calc(100% / 4);
  }

  @include respond-to(700) {
    flex: 0 0 calc(100% / 3);
  }

  @include respond-to(600) {
    flex: 0 0 calc(100% / 2);
  }

  @include respond-to(500) {
    flex: 0 0 100%;
    // -webkit-flex: 0 0 auto;
    flex: 1;
  }
}

.l-col-end {
  align-items: flex-end;
}

.l-row-stretch {
  align-items: stretch;
}

.l-space-between {
  justify-content: space-between;
}

.l-space-around {
  justify-content: space-around;
}

.l-row-left {
  align-items: flex-start;
  align-content: flex-start;
}

.l-center {
  align-self: center;
}

.l-end {
  align-self: flex-end;
}

.l-row-end {
  justify-content: flex-end;
}

.l-row-center {
  justify-content: center;
}

.l-row-top {
  align-items: flex-start;
}

.l-col-center {
  align-items: center;
}

.l-contain {
  width: 100%;
  max-width: rem(860px);
  padding: 0 rem(30px);
}

.l-section {
  padding: rem($space-xxl) 0;
}


// Isotope layout
.grid {
  display: none;
}

.grid-item {
  display: block;
}

.grid-button-group {
  text-align: center;
}

.grid-date {
  display: block;
}

.grid-controls-wrap {
  margin-bottom: rem($space-s);

  @include respond-to(700) {
    flex-direction: column;
  }
}

.grid-hasgutter {
  .grid-item {
    width: 48.7%;
    float: left;

    @include respond-to(700) {
      width: 100%;
    }
  }
}

.grid-nogutter {
  .grid-item {
    width: 50%;

    @include respond-to(700) {
      width: 100%;
    }
  }
}

.gutter-sizer {
  width: 2.5%;
}

.grid-dropdown-filter {
  -webkit-flex: 0 0 auto;

  @include respond-to(500) {
    width: 100%;
  }

  .dropdown-toggle {
    float: right;
  }

  .dropdown-menu {
    top: 42px;
    right: 0;
  }
}