.header .header-nav-link-bitcoin {
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #f7931a;
  font-size: 25px;

  i {
    color: white;
    transform: rotate(15deg);
    position: relative;
    // left: 1px;
  }
}

.header {
  margin: 1em 0 0;
  padding: 0 2em;

  a {
    &:hover {
      // opacity: 0.6;
    }
  }
}

.header-logo {
  width: 40px;
}

.header-nav {
  display: none;
  list-style: none;
}

.header-nav-item {
  float: left;
}

.header-nav-link {
  color: #2c3e50;
  padding-left: 1em;
  font-size: 30px;

  &:hover {
    // opacity: 0.6;
  }
}

.header-back-link {
  text-decoration: none;
  font-size: 36px;
  color: #2c3e50;

  @include respond-to(600) {
    text-align: center;
    width: 100%;
  }

  @include respond-to(500) {
    // font-size: 40px;
  }

}