.main {
  // margin-bottom: 80px;
}

.error404 {

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
  }

  p {

  }
}

.avatar {
  border-radius: 50%;
  width: 100%;

  @include respond-to(900) {
    margin: 0 auto;
    display: block;
    width: 50%;
  }

  @include respond-to(600) {
    width: 70%;
  }

}



.entry-content {
  > p:first-of-type {
    &:first-letter {
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 16px;
      padding-right: 17px;
      padding-left: 3px;
    }
  }
}

.post-preview {
  padding: 0 2em 2em;

  @include respond-to(900) {
    padding: 0;
  }

  .entry-title {
    margin-top: 0;
  }

  &:hover {
    // cursor: pointer;
    // border-bottom: none;

    h2 {
      color: white;
    }
  }

  &.post {
    border-bottom: none;

    &:last-child {
      @include respond-to(600) {
        padding: 0;
      }
    }
  }

}

.post-initial {
  text-transform: uppercase;
}

.single-post .post {
  border-bottom: none;
  margin-top: 2em;
}

.wrapper {
  @include respond-to(800) {
    flex-direction: column;
  }
}

.content-wrapper {
  @include respond-to(800) {
    flex-direction: column;
  }
}

.sidebar {
  margin: rem($space-xxs) 0 rem(100px) rem($space-m);
  padding-top: 0;

  @include respond-to(900) {
    padding: 40px 0;
    margin: 30px 0;
    border-top: 1px solid #d8dbdf;
  }

  @include respond-to(800) {
    flex: 0 0 auto;
  }

  @include respond-to(600) {
    margin-top: 0;
    margin-bottom: 10px;
  }

}

.module .sidebar {
  margin-bottom: rem($space-xxs);
}

.post {
  padding-bottom: 1em;
  border-bottom: 1px solid color(misc, accent);

  @include respond-to(800) {
    padding-right: 0;
  }
}

.screen-reader-text {
  display: none;
}

.page-heading {
  &:before {
    position: relative;
    left: -5px;
    font-size: 45px;

    @include respond-to(500) {
      font-size: rem($heading2);
    }
  }
}

.content {
  margin-top: 3em;

  @include respond-to(900) {
    margin-top: 0;
    flex-direction: column-reverse;
  }
}

.home .content {
  max-width: rem(1300px);

  @include respond-to(900) {
    margin-top: 1em;
  }
}