.avatar {
  border-radius: 50%;
  width: 100%;

  @include respond-to(900) {
    margin: 0 auto;
    display: block;
    width: 30%;
  }

  @include respond-to(600) {
    width: 50%;
  }

}

.post-preview {
  padding: 0 rem($space-m * 2) rem($space-m * 2);

  @include respond-to(900) {
    padding: 0;
  }

  .entry-title {
    margin-top: 0;
  }

  &:hover {
    h2 {
      color: white;
    }
  }

  &.post {
    border-bottom: none;

    &:last-child {
      @include respond-to(600) {
        padding: 0;
      }
    }
  }

}

.post-initial {
  text-transform: uppercase;
}

.single-post {

  .post {
    border-bottom: none;
    margin-top: rem($space-m * 2);
  }

  .footer {
    border-top: none;
  }
}

.sidebar {
  display: none;

  @include respond-to(900) {
    padding: rem($space-m*2) 0;
    margin: rem($space-l) 0;
    border-top: 1px solid #d8dbdf;
  }

  @include respond-to(800) {
    flex: 0 0 auto;
  }

  @include respond-to(600) {
    margin-top: 0;
    margin-bottom: rem($space-s);
  }

}

.post {
  padding-bottom: rem(space-m);

  @include respond-to(800) {
    padding-right: 0;
  }
}

.content {
  margin-top: rem(10px);

  @include respond-to(900) {
    margin-top: 0;
    flex-direction: column-reverse;
  }
}

.home {

  .l-contain {
    max-width: rem(700px);
  }

  .content {
    position: relative;
    left: 30px;

    @include respond-to(900) {
      margin-top: rem($space-s);
      left: 0;
    }
  }

}

.error404 {
  p, h1 {
    text-align: center;
  }
}
