.button {
  font-size: rem($button);
  color: white;
  background-color: color(yellow, dark);
  padding: rem($space-xxs) rem($space-m);
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  @include transition-fast;
  position: relative;
  z-index: 1;
  line-height: 1.6;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  outline: none;

  @include respond-to(400) {
    width: 100%;
    text-align: center;
    font-size: rem($button-s);
  }

  &:hover {
    background-color: lighten(color(yellow, dark), 8);
    color: white;
  }
}

.button-wide {
  padding: rem($space-xxs) rem($space-xxl + 30);

  @include respond-to(400) {
    padding: rem($space-xxs) rem($space-xs);
  }
}

.button-center {
  text-align: center;
}

.button-full {
  width: 100%;
}

.button-alt {
  background-color: color(green, dark);

  &:hover {
    background-color: lighten(color(green, dark), 5);
  }
}

.button-group {
  list-style: none;

  @include respond-to(700) {
    margin-left: 0;
  }

  .button:first-child {
    margin-right: rem($space-s);
  }
}

.home .button-group-hero {
  top: 70%;

  @include respond-to(900) {
    top: 48%;
  }


  @include respond-to(500) {
    top: 43%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

}

.button-group-hero {
  display: none;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 700px;
  list-style: none;

  @include respond-to(700) {
    width: 340px;
  }

  @include respond-to(500) {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 0;
    transform: none;
    position: static;
  }

  .button {
    float: left;
    margin-right: 0;
    font-size: rem($font-m);

    @include respond-to(700) {
      margin-top: rem($space-xs);
    }

    @include respond-to(500) {
      padding-left: 0;
      padding-right: 0;
      font-size: rem($font-xs);
      max-width: 100%;
      width: 100%;
    }

  }

  li:last-child {
    .button {
      float: right;
    }
  }
}

.button-large {
  font-size: rem($button-l);

  @include respond-to(400) {
    font-size: rem($button-s);
  }
}

.button-small {
  padding: rem(7px) rem($space-m);
}

.button-fixed {
  min-width: 17em;
  max-width: 17em;
  text-align: center;

  @include respond-to(400) {
    min-width: 100%;
    max-width: 100%;
  }
}