body {
  min-height: 100vh;
  letter-spacing: 0.01em;
  background-color: #fbfbfb;
  line-height: 1.5;
  font-size: $base;
  font-family: $font-primary;
  color: color(base);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to(500) {
    font-size: ($base - 4px);
  }

  &.animated {
    animation-duration: 0.5s;
  }
}

::selection {
  background-color: color(selection);
  color: white;
}

code, kbd, pre, samp {
  border-radius: rem($space-s / 2);
}

ul, ol, dl {
  font-family: $font-secondary;
  padding: 0;
  list-style-position: inside;
  margin: rem($space-s) 0 rem($space-s) rem($space-s);
}

dl {
  margin-left: 0;
}

ol {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 20px;
}

li {
  margin-bottom: 1em;
}

hr {
  border-color: color(borders);
}

dt {
  margin-top: 1em;
}


.logo {
  width: 30px;
}

.logo-link {

  @include dim;

  &:hover {
    background-color: transparent;
  }

}

pre[class*=language-] {
  margin-bottom: 1.5em;
}

.aligncenter {
  text-align: center;
}
