body {
  min-height: 100vh;
  letter-spacing: 0.01em;
  background-color: #FFF;
  line-height: 1.8;
  font-size: 19px;
  font-family: $font-secondary;
  color: #2c3e50;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to(500) {
    font-size: 15px;
  }
}

// Needed as a Flexbox fallback for IE
.is-ie10,
.is-ie11 {
  body {
    display: block;
  }
}

::selection {
  background-color: #c0dde4;
  color: white;
}

code, kbd, pre, samp {
  border-radius: 5px;
}

ul, ol, dl {
  padding: 0;
}

ul, ol, dl {
  margin: $space-xs 0 $space-xs $space-xs;
}

dd {
  margin: $space-xxs 0 $space-xs $space-xs;
}