table {
  border: 1px solid color(slate);
  width: 100%;

  @include respond-to(700) {
    border: none;
  }
}

thead {
  background-color: color(green, dark);
}

tbody {
  @include respond-to(700) {
    width: 100%;
    display: table;
  }
}

td, th {
  padding: $space-xxs;
  border: 1px solid color(slate, light);
  vertical-align: top;
  max-width: 600px;

  p {
    margin: 0;
  }

  &:first-child {
    min-width: 200px;

    @include respond-to(500) {
      min-width: auto;
      text-align: center;
    }
  }

}

td {
  border: 1px solid color(slate, light);
}

th {
  text-align: left;
  color: white;
  font-family: $font-primary;
  font-size: rem($font-m);
}

.table-mobile {
  display: none;
  border: none;

  @include respond-to(900) {
    display: block;
  }

  tbody {
    display: table;
    width: 100%;
  }
}

table.large-only {

  @include respond-to(900) {
    display: none;
  }
}

/*
 * Mobile table styles
*/
.st-head-row {
  color: color(slate, dark);
}

.st-head-row-main {
  text-align: center;
  background-color: color(green, dark);
  color: white;
}


/*
 * Custom styles for tables inserted via Wordpress TinyMC.
 * Matches the above CSS.
*/
.table-generated {
  border: 1px solid rgb(144, 153, 163);
}

.table-generated td {
  padding: 10px;
  border: 1px solid rgb(144, 153, 163);
  vertical-align: top;
  max-width: 600px;
}

.table-generated tr:first-child td {
  background-color: color(green, dark);
  text-align: left;
  color: white;
  font-family: $font-primary;
  font-size: rem($font-m);
}