h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: color(headings);

  a {
    text-decoration: none;
    color: color(headings);
  }

  + p {
    margin-top: 0.5em;
  }

}

.entry-title {
  a:hover {
    text-decoration: underline;
    color: color(headings);
  }
}

h1 {
  font-weight: bold;
  font-size: rem($heading1);
  font-family: $font-primary;
  margin: 0 0 rem(10px) 0;

  @include respond-to(700) {
    font-size: 2.6rem;
  }

  @include respond-to(400) {
    font-size: rem($heading2);
  }
}

h2 {
  font-weight: bold;
  font-size: rem($heading2);
  font-family: $font-primary;
  margin: 1em 0 rem(10px) 0;

  @include respond-to(400) {
    font-size: rem(32px);
  }
}

h3 {
  font-size: rem($heading3);
  font-family: $font-primary;
  margin: 1em 0 rem(10px) 0;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

a {
  color: color(links);

  &:hover {
    color: color(linksHover);
  }
}

em, i {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 rem(35px);
  font-style: italic;
  border-left: 3px solid color(borders);
  margin: 2.5em 0 2.5em 1.5em;
  position: relative;
  width: 120%;
  left: -14%;
  font-size: rem($quotes);

  @include respond-to(500) {
    margin-left: 0;
  }
}

.fa-heart {
  color: color(heart);
  opacity: 0.5;
}

.fa-coffee {
  color: color(coffee);
  opacity: 0.5;
}

.fa-wordpress {
  color: color(wordpress);
  opacity: 0.5;
}