h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  color: color(headings);
  letter-spacing: -0.005em;

  a {
    text-decoration: none;
    color: color(headings);
  }

  + p {
    margin-top: 0.5em;
  }

}

.entry-title {
  a:hover {
    //text-decoration: underline;
    color: color(headings);
  }
}

h1 {
  font-weight: normal;
  font-size: rem($heading1);
  font-family: $font-primary;
  margin: 0 0 rem(10px) 0;
  line-height: 1.2;

  @include respond-to(700) {
    font-size: rem($heading2);
  }

  @include respond-to(400) {
    // font-size: rem($heading3);
  }
}

.single h1 {
  margin-bottom: rem(5px);
}

.entry-content p {
  font-family: $font-secondary;
}

.entry-content a {
  box-shadow: inset 0 -5px 0 #ddfeff;
  border-bottom: 0px solid #ddfeff;
}

h2 {
  font-size: rem($heading2);
  font-family: $font-primary;
  margin: 1em 0 rem(10px) 0;

  @include respond-to(400) {
    font-size: rem($heading3);
  }
}

h3 {
  font-size: rem($heading3);
  font-family: $font-primary;
  margin: 1em 0 rem(10px) 0;

  @include respond-to(700) {
    font-size: rem($heading2);
  }

  @include respond-to(400) {
    font-size: rem($heading3);
  }
}

h4,
h5,
h6 {
  font-size: rem($heading3);
  margin: 1em 0 rem(10px) 0;
}


a {
  color: color(base);

  @include underline();
}

p {
  word-break: break-word;
}

em, i {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 rem(35px);
  font-style: italic;
  border-left: 2px solid color(borders);
  margin: 2em 0 2em 1.5em;
  position: relative;
  width: 120%;
  left: -14%;
  font-size: rem($quotes);

  @include respond-to(900) {
    left: 0;
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    width: 100%;
  }

  @include respond-to(500) {
    margin-left: 0;
  }
}

.fa-heart {
  color: color(heart);
  opacity: 0.5;
}

.fa-coffee {
  color: color(coffee);
  opacity: 0.5;
}

.fa-wordpress {
  color: color(wordpress);
  opacity: 0.5;
}
