.article {
  &:first-child {}
  &:last-child {}
}

.article-info {
  font-size: rem($font-xs);
  margin-bottom: 0;
  //border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
  display: inline;
  line-height: 1;
  opacity: 0.6;

  @include respond-to(500) {
    flex-direction: row;
  }
}

.article-comments {}
.article-footer {}
.article-byline {}
.article-heading-link {}
.posts-navigation {}
.article-link {}
.post-divider {}
.article-date {}
.article-more {}
