.article {
  padding-bottom: $space-xl;
  margin-bottom: $space-xl;
  border-bottom: 1px solid color(misc, accent);

  &:first-child {
    margin-top: $space-xs;
  }

  &:last-child {
    border-bottom: none;
  }
}

.article-info {
  margin-bottom: 20px;
  border-bottom: 1px solid color(misc, accent);
  padding-bottom: 5px;
  font-size: 15px;

  @include respond-to(500) {
    flex-direction: row;
  }
}

.article-comments {
  @include respond-to(500) {
    display: none;
  }
}

.article-footer {
  -webkit-flex: 0 0 auto;
}

.article-byline {
  margin-bottom: 10px;
}

.article-heading {
  color: color(slate, dark);
}

.article-heading-link {
  text-decoration: none;
  color: color(slate, dark);
}

.posts-navigation {
  margin-bottom: rem($space-xl*2);

  @include respond-to(800) {
    margin-bottom: rem($space-xl);
  }
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

.entry-content {
  figure {
    max-width: 100%;
    margin: 0;
  }
}

.article-link {
  display: block;
}

.post-divider {
  color: #2c3e50;
  font-size: 16px;
  position: relative;
  top: 4px;
  left: -2px;
  margin: 0 1.2em;

  @include respond-to(500) {
    display: none;
  }
}

.article-date {
  @include respond-to(500) {
    display: inline;
    width: auto;
    margin-right: 10px;
  }
}

.article-more {
  margin-left: 10px;

  @include respond-to(800) {
    margin: 0px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 36px;
  }

}