.author-footer {
  padding: 30px 0;
  margin: 30px 0;
  // background-color: #f9f9f9;
  border-top: 1px solid #d8dbdf;

  @include respond-to(900) {
    flex-direction: column;
  }
}

.author-footer-avatar {
  margin-right: 1em;

  @include respond-to(900) {
    margin-right: 0;
    margin-bottom: 1em;
    align-self: center;
    width: 100%;
  }
}

.author-contact {
  @include respond-to(900) {
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 1em 0;
  }

  @include respond-to(400) {
    flex-direction: column;
    margin-top: 0;
  }
}

.author-footer-bio {
  font-size: 16px;
  margin: 0;

  @include respond-to(900) {
    text-align: center;
  }

  p:last-child {
    margin-top: 0;

    @include respond-to(900) {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    @include respond-to(400) {
      width: 100%;
    }

  }

}

.author-footer-name {
  margin: 0 15px 0 0;
  font-size: 20px;
  font-weight: bold;

  @include respond-to(900) {
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 24px;
    justify-content: center;
  }

}

.author-footer-social {
  margin: 0 10px 5px 0px;

  @include respond-to(900) {
    // margin: 1em 0;
  }

  @include respond-to(400) {
    margin-top: 1em;
  }
}

.author-footer-donations {
  margin: 5px 0 0 3px;

  @include respond-to(900) {
    margin-right: 6em;
    text-align: center;
  }

  @include respond-to(400) {
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

}

.author-footer-social,
.author-footer-donations {
  float: left;
  // width: 20%;
}