.dream-well {
  background-color: color(slate, dark);
  padding: $space-l;
}

.dream-content,
.dream-heading {
  color: white;
}

.dream-heading {
  font-family: $font-secondary;
  font-size: $font-xl;
}

.dream-primary-content {
  width: 60%;
  margin: 0 0 $space-xs 0;
  font-size: $font-m;
  text-align: center;

  @include respond-to(1000) {
    width: 80%;
  }

  @include respond-to(800) {
    width: 100%;
    font-size: $font-s;
    padding: 0 $space-xl;
  }

  @include respond-to(500) {
    width: 100%;
    font-size: $font-s;
    padding: 0 $space-s;
  }
}

.dream-logo {
  width: 100%;
}