.feed {
  background-color: color(misc, offwhite);
  padding: rem($space-xs) rem($space-l) rem($space-l) rem($space-l);
  border: 1px solid color(misc, accent);

  @include respond-to(400) {
    padding: rem($space-xs);

    .l-row {
      flex-direction: column;
    }
  }
}

.feeds-blog,
.feeds-twitter {
  padding-top: 0;

  @include respond-to(700) {
    -webkit-flex: 0 0 auto;
  }

  @include respond-to(400) {
    padding: 0;
    margin-bottom: $space-xs;
  }
}

.feeds-blog {
  @include respond-to(500) {
    margin-bottom: $space-xs;
  }
}

.feeds-wrapper {
  @include respond-to(800) {
    flex-direction: column;
  }
}

.feeds-social {
  list-style: none;
  padding: 0 rem(10px) 0 0;
  margin: 0;
}

.feeds-social-copy {
  padding: 0;
  margin: 0;
}

.feeds-heading {
  font-size: rem($font-l);
  color: color(slate, dark);

  &:before {
    position: relative;
    font-size: rem($font-xl);
    color: color(slate);
    top: rem(8px);
    margin-right: rem(12px);
  }
}

.feeds-twitter-handle {
  text-transform: uppercase;
  text-decoration: none;
}

.feeds-posts {
  list-style: none;
  margin: rem(14px) 0 0;
}

.feeds-post-link {
  text-decoration: none;
  font-size: rem($font-m);
  width: 100%;
  display: inline-block;
}

.feeds-twitter-date {
  display: block;
}

.feeds-social-nav {
  @include respond-to(400) {
    margin-bottom: rem($space-xs);
  }
}

.feeds-social {
  @include respond-to(400) {
    width: 100%;
    justify-content: center;
  }
}

.feeds-social-copy {
  text-transform: uppercase;
  color: color(slate, dark);

  @include respond-to(400) {
    width: 100%;
    text-align: center;
  }
}

.feeds-social-link {
  text-decoration: none;
  color: color(slate);
  font-size: rem($font-xl);
  padding-left: rem($space-xs);
}