.usersguide-heading {
  font-size: $font-xl;
  color: color(slate, dark);

  @include respond-to(500) {
    margin-top: rem($space-xs);
  }
}

.usersguide-wrapper {
  padding: 0;
}

.usersguide-list {
  margin: 0;
}

.usersguide-list-item {
  @include respond-to(500) {
    flex-direction: column;
  }
}

.usersguide-image-wrapper {
  padding-left: 0;

  @include respond-to(500) {
    flex: 1;
  }
}

.usersguide-image {
  @include respond-to(500) {
    // flex: 0 0 100%;
  }
}