.promo-heading {
  text-align: center;
  font-family: $font-secondary;
  color: color(slate, dark);
  font-size: $font-xl;
  margin: $space-l 0;

  @include respond-to(700) {
    font-size: rem($heading4);
    line-height: 1.3;
  }
}

.promo-logo-animated {
  display: block;
  width: 100%;
}

.promo-button {
  @include respond-to(700) {
    width: 100%;
    margin-bottom: 1em;
  }

  .button:first-child {
    @include respond-to(700) {
      margin-right: 0;
    }
  }
}

.promo-wrapper {
  width: 60%;

  @include respond-to(1200) {
    width: 80%;
  }

  @include respond-to(900) {
    width: 100%;
  }
}

.promo-logo {
  width: 100%;
}