.rooms {
  list-style: none;
  margin: 0;
}

.room {
  @include respond-to(800) {
    flex: 0 0 calc(100%/2);
  }

  @include respond-to(700) {
    margin-bottom: $space-m;
    text-align: center;
    flex: 0 0 calc(100%);
  }
}

.room-single {
  @include respond-to(800) {
    flex-direction: column;
  }
}

.room-single-heading {
 @include respond-to(500) {
    margin-top: rem($space-s);
  }
}

.room-link {
  text-decoration: none;
}

.room-image {
  @include respond-to(700) {
    margin: 0 auto;
    width: 70%;
  }
}

.room-heading {
  color: color(slate, dark);
  font-size: rem($heading2);
  text-align: center;
}

.room-address1,
.room-address2 {
  margin: 0;
  padding-left: $space-s;
}

.room-address1 {
  position: relative;

  &:before {
    position: absolute;
    top: 7px;
    left: 0;
    color: color(yellow);
    font-size: 20px;
  }
}

.room-about,
.room-book,
.room-services,
.room-details {
  margin-bottom: $space-m;
}

.room-details {
  @include respond-to(500) {
    text-align: left;
  }
}