.team-list {
  list-style: none;
  margin: 0;

  @include respond-to(700) {
    flex-direction: column;
    padding: 0 !important;
  }

  .team-host {
    @include respond-to(700) {
      padding: 0;
      margin-bottom: rem($space-m);
    }
  }
}

.team-question {
  font-family: $font-primary;
  font-size: $font-l;
  color: color(slate, darkest);
  margin: rem($space-xs) 0 0;
  line-height: 1.3;
}

.team-host {

  &:first-child {}

  &:last-child {
    border-right: 0;
  }

  @include respond-to(700) {
    flex-direction: column;
    -webkit-flex: 0 0 auto;
  }

}

.team-host-name {
  margin-top: $space-s;
}

.team-host-image {
  margin: 0 auto;
  width: 70%;

  @include respond-to(700) {
    width: auto;
  }
}

.team-info {
  margin: 0;
}

.team-answer {
  margin: 0;
  border-bottom: 1px solid color(misc, offwhite);
  padding-bottom: $space-xs;

  p {
    margin: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.team-host-single .team-info {
  margin-left: $space-l;

  @include respond-to(700) {
    margin-left: 0;
  }
}